<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>

<div class="support">
    <div class="support-header" id="s-header">
        Chat with our support!
    </div>
    <div class="support-body collapsed">
        <div id="messages"></div>
        <div class="send">
            <input class="form-control" id="input" type="text">
            <button id="btn-submit" class="btn btn-secondary">SEND</button>
        </div>
    </div>
</div>

<script src="../../assets/js/support/chatUser.js"></script>