<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js" integrity="sha256-Dul4c09cdrWKXVtallPxF558lwxMwCC8dXJdZ0PVW54=" crossorigin="anonymous"></script>

<div class="support">
    <div class="support-header" id="s-header">
        Chat with our support!
    </div>
    <div class="support-body collapsed">
        <div id="messages"></div>
        <div class="send">
            <input class="form-control" id="input" type="text">
            <button id="btn-submit" class="btn btn-secondary">SEND</button>
        </div>
    </div>
</div>

<script>
    let socket = undefined;

    $('#s-header').on('click', () => {
        $('.support-body').toggle('collapsed');
        if (!socket) {
            startChat();
        }
    })

    function startChat() {
        socket = io.connect("localhost:4000")
        socket.emit("MESSAGE", { role: 'USER' });

        $('#messages').prepend(`<div id="message">Waiting for support..</div>`);

        socket.on("MESSAGE", data => {
            switch(data) {
                case 'ADMINCONNECTED':
                    $('#messages').prepend(`<div id="message">Support is connected!</div>`);
                    break;
                case 'ADMINDISCONNECTED':
                    $('#messages').prepend(`<div id="message">Support has disconnected..</div>`);
                    break;
                default: 
                    $('#messages').prepend(`<div id="message"><b>Support</b>: ${data}</div>`)
                    break;
            }
        })

        $('#btn-submit').on('click', () => {
            let message = $('#input').val();
            $('#messages').prepend(`<div id="message"><b>You</b>: ${message}</div>`)
            $('#input').val('')
            socket.emit("MESSAGE", { message });
        })
    }
</script>
</html>